<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Inicio",welcome_index_path ,class:"btn navbar-brand bg-dark" %>
 <div class="container">
    <%= link_to "Mascotas",mascotas_index_path ,class:"btn navbar-brand bg-dark mr-right" %>
    <%= link_to "Perro",perros_index_path ,class:"btn navbar-brand bg-dark mr-right" %>
 </div>
</nav>